<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880056493757-rrl9me4lrffbiv8fe54dk2oeosq2fqgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880056493757-rrl9me4lrffbiv8fe54dk2oeosq2fqgs</string>
	<key>API_KEY</key>
	<string>AIzaSyBZDwh8skw7rO6IBVF75_TUKzryh6U6MDs</string>
	<key>GCM_SENDER_ID</key>
	<string>880056493757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Yoho.ESerrvice</string>
	<key>PROJECT_ID</key>
	<string>yoho-services</string>
	<key>STORAGE_BUCKET</key>
	<string>yoho-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880056493757:ios:668214b85b58c620db79d4</string>
</dict>
</plist>